.facilities-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 85%;
    margin: 50px auto;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: all 0.3s;
    max-width: 270px; 
}

.card:hover {
    transform: scale(1.07); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card p {
    font-size: 18px; 
    font-weight: 500; 
    padding-top: 15px; 
    color: #333; 
}

.card img {
    height: 180px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}
.sub-heading{
    color: rgb(0, 78, 121);
  font-size: 40px;
}