.footer {
    background-color: rgb(0, 78, 121);
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 50px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .footer-links {
    margin: 0;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer-contact a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  