.hero-text{
  text-align: center;
  color: rgb(0, 78, 121);
  font-size: 40px;
  margin: 40px;
}

.top-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 100px);
  grid-gap: 30px;
  margin: 20px 50px;
  padding: 0px 120px;
}

.grid-item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
 

}

.grid-item:hover{
  background-size: 130%;
}

.about-us {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-image: url('../assets/mission.png');
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.mission {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-image: url('../assets/mission.png');
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.main {

  grid-row: 1 / span 2;
  background-image: url('../assets/vesit.png');
  font-size: 2em;
  overflow: hidden;
  height: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}



.vision {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-image: url('../assets/mission.png');
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.organogram {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-image: url('../assets/mission.png');
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.grid-item h1, .grid-item h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.grid-item h1 {
  
  font-size: 30px;
}

.para-text
{
  margin: 100px 180px;
  color: rgb(0, 78, 121);
  font-size: 20px;
  text-align: center;
}